DB_URL=jdbc:mysql://localhost:3306/cargotrust_dev?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=votre_mot_de_passe_mysql
JWT_SECRET=change-this-secret-key-minimum-256-bits-in-production-mandatory
CORS_ALLOWED_ORIGINS=http://localhost:4200
SUPER_ADMIN_EMAIL=cargotrust237@gmail.com
SUPER_ADMIN_PASSWORD=Admin.123
GOOGLE_CLIENT_ID_WEB=votre-client-id-web.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET_WEB=votre-client-secret-web
GOOGLE_CLIENT_ID_ANDROID=votre-client-id-android.apps.googleusercontent.com
